<h1>Kor Entitätstypen</h1>
 
<table>
  <tr>
    <th>Kor Entitätstyp</th>
    <th>Corresponding CRM Class</th>
    <th></th>
  </tr>
 
  <% @kinds.each do |kind| %>
    <tr>
      <td><%= kind.name %></td>
      <td><% if kind.crmClass != nil %><%= kind.crmClass.label %><% end %></td>
      <td>
      	<%= link_to 'Map', edit_kind_path(kind) %>
      	<%= link_to 'Dissolve Mapping', kind_path(kind), method: :delete %>
      </td>	
   	</tr>
  <% end %>
</table>
<p><%= link_to 'Map Relations', relations_path %></p>
