<p>
	<% if @targetPossiblyReached == true %>
		<%= form_tag({controller: "relations", action: "updatePath"}, method: "post") do %>
			<%= hidden_field_tag :relationId, @relationId %>
			<%= hidden_field_tag :domainId, @domainId %>
			<%= hidden_field_tag :rangeId, @rangeId %>
			<span><b>Is target reached?</b></span>
			<br />
			<%= submit_tag("Save Mapping") %>
		<% end %>
	<% end %>
</p>

<%= form_tag({controller: "relations", action: "updatePathClass"}, method: "post") do %>
<%= hidden_field_tag :relationId, @relationId %>
<%= hidden_field_tag :domainId, @domainId %>
<%= hidden_field_tag :rangeId, @rangeId %>

<table>
	<tr>
		<th></th>
		<th>Mapped CRM-classes</th>
	</tr>
	<tr>
		<td>Relation: <%= @actualRelation.relation.name %></td>
		<td></td>
	</tr>
	<tr>
		<td>Domain: <%= @actualRelation.domain.name %></td>
		<td><%= @actualRelation.domain.crmClass.label %></td>
	</tr>
	<tr>
		<td>Range: <%= @actualRelation.range.name %></td>
		<td><%= @actualRelation.range.crmClass.label %></td>
	</tr>
</table>
<br />
<br />
<table>
	<tr>
		<td>Already mapped path</td>
		<td><% i = 0 %>
			<% while i < (@sessionChainLinks.size - 1) %>
				<%= @sessionChainLinks[i].label%>
				<% i += 1 %>
				<% if i < (@sessionChainLinks.size - 1) %>
					<%= " : " %>
				<% end %>
			<% end %>
		</td>		
	</tr>
	<tr>
		<td>Last property</td>
		<td><%= @sessionChainLinks[@sessionChainLinks.length-2].label %></td>
	</tr>
	<tr>
		<td><%= label_tag(:class, "Most specific range class") %></td>
		<td><%= select_tag :class, options_from_collection_for_select(@fittingCRMClasses, :number, :fullLabel) %></td>
	</tr>
	<tr>
		<td>
			<%= submit_tag("Add Class") %>
		</td>
	</tr>
</table>
<% end %>

<%= link_to 'Back', relations_path %>
