<h1>Relation Edit</h1>
<%= form_for :actualRelation, url: relation_path(@actualRelation.relation), method: :put do |f| %>
 
  <p>
    <%= f.label :relationName %><br>
    <%= @actualRelation.relation.name %>
  </p> 
  <p>
    <%= f.label :domainName %><br>
    <%= @actualRelation.domain.name %>
  </p>  
  <p>
    <%= f.label :rangeName %><br>
    <%= @actualRelation.range.name %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>

<%= link_to 'Back', relations_path %>
