<h1>Relationen</h1>

<table>
  <tr>
    <th>Relation</th>
    <th>Domain</th>
    <th>Range</th>
    <th>Entsprechender CRM-Eigenschafts-Pfad</th>
    <th></th>
  </tr>
 
  <% @relations.each do |relation| %>
  	<% relation.actualRelations.each do |actualRelation| %>
	    <tr>
	      <td><%= relation.name %></td>
	      <td><%= actualRelation.domain.name %></td>
	      <td><%= actualRelation.range.name %></td>
	      <td><% if actualRelation.chainLinks != nil %>
	      		<% i = 0 %>
				<% while i < (actualRelation.chainLinks.size) %>
					<%= actualRelation.chainLinks[i].label%>
					<% i += 1 %>
					<% if i < (actualRelation.chainLinks.size) %>
						<%= " : " %>
					<% end %>
				<% end %>
	      	  <% end %>
	      </td>
	      <td>
	      	<%= link_to "Edit", :controller => "relations", :action => "edit", :relationId => actualRelation.relation.id, :domainId => actualRelation.domain.id, :rangeId => actualRelation.range.id %>
	      	<%= link_to "Destroy", :controller => "relations", :action => "destroy", :method => "delete", :relationId => actualRelation.relation.id, :domainId => actualRelation.domain.id, :rangeId => actualRelation.range.id, data: { confirm: 'Are you sure?' } %>	
	      </td>
	    </tr>
	<% end %>
  <% end %>
</table>
<p><%= link_to 'Map Entitaetstypen', kinds_path %></p>
